@media (max-width: 400px) {
  body { background: red; }
.navbar-fixed-top {
  top: auto;
  bottom: 0;
  margin-bottom: 0;
}
}
@media (min-width: 401px) and (max-width: 800px) {
  body { background: green; }
}
@media (min-width: 801px) {
  body { background: blue; }
}
